.similargoods-line {
   width: 100%;
   .simgoods__wrk {
      max-width: 1012px;
      margin: 0px auto;
      @media (max-width: 462px) {
         min-width: 462px;
      }
      .simgoods-elementOne {
         font-weight: 500;
         font-size: 25px;
         line-height: 100%;
         text-align: center;
         text-transform: uppercase;
         color: #0f303f;
         margin-top: 146px;
      }

      .swiper {
         width: 100%;
         height: 500px;

         .swiper-wrapper {
            width: 100%;
            .swiper-slide {
               display: flex;
               justify-content: center;
               align-items: center;
               .simgoods-card {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  transition-duration: 0.3s;
                  &:hover {
                     position: relative;
                     bottom: 3px;
                     background-color: #e64926;
                     .simgoods-card__text {
                        color: white;
                     }
                  }
                  .simgoods-card__lable {
                     margin-top: 10px;
                     margin-bottom: 10px;
                  }
                  .simgoods-card__typeof {
                     margin-bottom: 10px;
                  }
                  .simgoods-card__price {
                     margin-bottom: 10px;
                  }
               }
            }
         }
      }
   }
}
.similargoods__hz {
   width: 100%;
   height: 1px;
   background-color: #eae9e8;
   margin-top: 100px;
}
