@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("../fonts/Gilroy-Extrabold.ttf");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a,
div,
button,
p,
input,
span,
header {
  font-family: "Jost", sans-serif;
}

.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eae9e8;
}

.header .header__wrk {
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 13px;
  margin-top: 10px;
}

.header .header__wrk .header__wrk__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .header__wrk .header__wrk__row .header__wrk__row__Logo {
  font-size: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  width: 20%;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header .header__wrk .header__wrk__row .header__wrk__row__Logo:hover {
  color: #e64926;
  letter-spacing: 10px;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 64%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 60px;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search .header-element__women_search {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #0f303f;
  cursor: pointer;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search .header-element__women_search:hover {
  color: #e64926;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search .header-element__men {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #b7c1c5;
  cursor: pointer;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search .header-element__men:hover {
  color: #e64926;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search .header-elment__searchwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search .header-elment__searchwrapper .header-element-input {
  width: 150px;
  border-bottom: 1px solid #0f303f;
  margin-left: 20px;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search .header-elment__searchwrapper .header-element-input input {
  font-size: 16px;
  padding: 0 4px;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__language p {
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0f303f;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__language p:hover {
  color: #e64926;
}

.header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__language .header-element__ukrainian {
  border-bottom: 2px solid #e64926;
  color: #e64926;
  padding-bottom: 29px;
}

.header .header__wrk .header__wrk__row .header__wrk__row__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6%;
}

.header .header__wrk .header__wrk__row .header__wrk__row__burgerwrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
}

.header .header__wrk .header__wrk__row .header__wrk__row__burgerwrapper .header-burger {
  width: 50px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__wrk .header__wrk__row .header__wrk__row__burgerwrapper .header-burger .header-burger__longspan {
  width: 30px;
  height: 2px;
  background-color: black;
  display: block;
}

.header .header__wrk .header__wrk__row .header__wrk__row__burgerwrapper .header-burger .header-burger__shortspan {
  display: block;
  width: 15px;
  height: 2px;
  background-color: black;
}

.goods-line {
  width: 100%;
}

.goods-line .goods-line__wrk {
  max-width: 1440px;
  margin: 0px auto;
  margin-top: 8px;
}

.goods-line .goods-line__wrk .goods-line__elementOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods-line .goods-line__wrk .goods-line__elementOne .goods-elementOne__styleparag {
  font-weight: 400;
  font-size: 15px;
  color: #0f303f;
  cursor: pointer;
}

.goods-line .goods-line__wrk .goods-line__elementOne .goods-elementOne__period {
  width: 6px;
  height: 6px;
  background: #0f303f;
  border-radius: 50%;
}

.goods-line .goods-line__wrk .goods-line__elementOne .goods-elementOne__darkstyleparag {
  color: #b7c1c5;
}

.goods-line .goods-line__wrk .goods-line__elementTwo {
  max-width: 1004px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 23px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 53%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__smallphotoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__smallphotoes img {
  margin-bottom: 10px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto {
  max-width: 427px;
  max-height: 520px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto img {
  width: 100%;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto .elementTwo-content__largephotoTwo {
  display: none;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto .elementTwo-content__largephotoThree {
  display: none;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description {
  width: 30%;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__label {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #0f303f;
  margin-bottom: 17px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__type {
  font-weight: 300;
  font-size: 18px;
  text-transform: capitalize;
  color: #0f303f;
  margin-bottom: 6px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #0f303f;
  margin-bottom: 20px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__size {
  font-weight: 400;
  font-size: 15px;
  color: #0f303f;
  margin-bottom: 9px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__sizeSection {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__sizeSection .elementTwo-content__sizeButton {
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #eae9e8;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__sizeSection .elementTwo-content__sizeButton:hover {
  background-color: #ff0000;
  color: white;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__sizetable {
  font-weight: 400;
  font-size: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0f303f;
  cursor: pointer;
  margin-bottom: 20px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__color {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #0f303f;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__colorsCircles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 19px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__colorsCircles .elementTwo-content_colorCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__colorsCircles .elementTwo-content_colorCircleWhite {
  background: #ffffff;
  border: 1px solid #eae9e8;
  border-radius: 26px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__colorsCircles .elementTwo-content_colorCircleRed {
  background: #ff0000;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__colorsCircles .elementTwo-content_colorCircleDarkBlue {
  background: #1931aa;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__purchasebuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__purchasebuttons .elementTwo-content__buyButton {
  width: 280px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__purchasebuttons .elementTwo-content__buyButton:hover {
  background-color: #ff0000;
  color: white;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__purchasebuttons .elementTwo-content__shoppingCart {
  background-color: white;
  border: 1px solid #0f303f;
  color: #0f303f;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__purchasebuttons .elementTwo-content__instaPurchase {
  background-color: #0f303f;
  color: #eae9e8;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__policies {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__policies p {
  font-weight: 400;
  font-size: 14px;
  color: #0f303f;
  opacity: 0.3;
  cursor: pointer;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__additionalInfo {
  font-weight: 500;
  font-size: 14px;
  color: #0f303f;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__additionalInfoLorem {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #0f303f;
  margin-top: 16px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__descriptionUpper {
  display: none;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__descriptionUpper .elementTwo-content__label {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #0f303f;
  margin-bottom: 17px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__descriptionUpper .elementTwo-content__type {
  font-weight: 300;
  font-size: 18px;
  text-transform: capitalize;
  color: #0f303f;
  margin-bottom: 6px;
}

.goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__descriptionUpper .elementTwo-content__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #0f303f;
  margin-bottom: 20px;
}

.similargoods-line {
  width: 100%;
}

.similargoods-line .simgoods__wrk {
  max-width: 1012px;
  margin: 0px auto;
}

.similargoods-line .simgoods__wrk .simgoods-elementOne {
  font-weight: 500;
  font-size: 25px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #0f303f;
  margin-top: 146px;
}

.similargoods-line .simgoods__wrk .simgoods-elementTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-card {
  width: 25%;
}

.similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-card .simgoods-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-card .simgoods-card__lable {
  margin-top: 15px;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #0f303f;
  line-height: 25px;
}

.similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-card .simgoods-card__typeof {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #0f303f;
  line-height: 22px;
}

.similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-card .simgoods-card__price {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #0f303f;
}

.similargoods__hz {
  width: 100%;
  height: 1px;
  background-color: #eae9e8;
  margin-top: 100px;
}

.footer-line {
  width: 100%;
  margin-top: 65px;
}

.footer-line .footer-line__wrk {
  max-width: 745px;
  margin: 0px auto;
}

.footer-line .footer-line__wrk .footer-line__elementOne {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-line .footer-line__wrk .footer-line__elementOne .footer-line__label {
  font-weight: 600;
  font-size: 30px;
  line-height: 102.5%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #0f303f;
}

.footer-line .footer-line__wrk .footer-line__elementOne .footer-line__input {
  margin-top: 20px;
  width: 40%;
  border-bottom: 1px solid #0f303f;
  margin-bottom: 30px;
}

.footer-line .footer-line__wrk .footer-line__elementOne .footer-line__input input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #0f303f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-line .footer-line__wrk .footer-line__elementOne .footer-line__info_links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.footer-line .footer-line__wrk .footer-line__elementOne .footer-line__info_links p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b7c1c5;
  cursor: pointer;
}

.footer-line .footer-line__horizontalLine {
  width: 100%;
  border: 1px solid #eae9e8;
  margin-bottom: 15px;
}

.footer-line .footer-line__copyrights {
  max-width: 95%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

@media (max-width: 1470px) {
  .header .header__wrk {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1456px) {
  .goods-line .goods-line__wrk {
    padding: 0 15px;
  }

  .goods-line .goods-line__wrk .goods-line__elementOne {
    width: 40%;
  }
}

@media (max-width: 1216px) {
  .header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .header .header__wrk .header__wrk__row .header__wrk__row__Logo {
    width: 15%;
  }

  .header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__language {
    width: 12%;
  }

  .header .header__wrk .header__wrk__row .header__wrk__row__icons {
    width: 8%;
  }
}

@media (max-width: 1100px) {
  .goods-line .goods-line__wrk .goods-line__elementOne {
    width: 50%;
  }
}

@media (max-width: 1076px) {
  .header .header__wrk .header__wrk__row .header-categoriesAndLangComb .header__wrk__row__men_women_search {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-card {
    width: 40%;
  }

  .similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-cardOne {
    display: none;
  }
}

@media (max-width: 1016px) {
  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes {
    width: 57%;
  }
}

@media (max-width: 1000px) {
  .header .header__wrk .header__wrk__row .header__wrk__row__Logo {
    width: 80%;
  }

  .header .header__wrk .header__wrk__row .header-categoriesAndLangComb {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
  }

  .header .header__wrk .header__wrk__row .header__wrk__row__icons {
    width: 12%;
  }

  .header .header__wrk .header__wrk__row .header__wrk__row__burgerwrapper {
    display: block;
  }
}

@media (max-width: 942px) {
  .goods-line .goods-line__wrk .goods-line__elementTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes {
    width: 100%;
    overflow: scroll;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__smallphotoes {
    display: none;
    position: absolute;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto {
    max-width: 100%;
    height: 520px;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto img {
    width: 427px;
    height: 520px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto .elementTwo-content__largephotoOne {
    width: 427px;
    height: 520px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto .elementTwo-content__largephotoTwo {
    width: 100%;
    display: block;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto .elementTwo-content__largephotoTwo {
    width: 427px;
    height: 520px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto .elementTwo-content__largephotoThree {
    width: 100%;
    display: block;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__photoes .elementTwo-content__largephoto .elementTwo-content__largephotoThree {
    width: 427px;
    height: 520px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description {
    width: 60%;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__label {
    display: none;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__type {
    display: none;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__price {
    display: none;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__size {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__sizeSection {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__sizetable {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__color {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__colorsCircles {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__purchasebuttons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__description .elementTwo-content__policies {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .goods-line .goods-line__wrk .goods-line__elementTwo .elementTwo-content__descriptionUpper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 884px) {
  .goods-line .goods-line__wrk .goods-line__elementOne {
    width: 60%;
  }
}

@media (max-width: 714px) {
  .goods-line .goods-line__wrk .goods-line__elementOne {
    width: 80%;
  }
}

@media (max-width: 2px) {
  .similargoods-line .simgoods__wrk .simgoods-elementTwo .simgoods-cardTwo {
    display: none;
  }
}